<div
  class="height-full text-left {% if site.style == 'dark' %}box-shadow{% else %}border border-gray-light{% endif %} bg-white rounded-1 p-3"
>
  <div class="Subhead">
    <div class="Subhead-heading">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </div>
    <div class="Subhead-description">
      <label>{{ post.date | date: "%b %d, %Y" }}</label>
      {{ post.subtitle }}
    </div>
  </div>
  <div class="d-flex flex-justify-between flex-items-start mb-1">
    <h1 class="f4 lh-condensed mb-1"></h1>
  </div>
  {% for tag in post.tags %}
  <span class="Label Label--gray-darker">{{ tag }}</span>
  {% endfor %} {% if post.thumbnail != "" %}
  <img src="{{ post.thumbnail }}" class="img-fluid center" />
  {% endif %}
  <div>
    {% if post.youtube != "" %}
    <a href="{{ post.youtube }}">YouTube</a>
    {% endif %}
  </div>
</div>
